body {
  text-align: center;
  padding: 150px;
  -webkit-animation: argh-my-eyes 100ms infinite;
  -moz-animation: argh-my-eyes 100ms infinite;
  animation: argh-my-eyes 100ms infinite;
}
h1 {
  font-size: 21px;
}
body {
  font: 11px Helvetica, sans-serif;
  color: #333;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}

footer {
  position: fixed;
  height: 3%;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: left;
  background-color: black;
}
footer a {
  color: grey;
  text-decoration: none;
}

footer a:hover {
  color: rgb(213, 128, 92);
  text-decoration: underline;
}

footer p {
  font: 11px Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

@-webkit-keyframes argh-my-eyes {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: #000;
  }
  99% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
@-moz-keyframes argh-my-eyes {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: #000;
  }
  99% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes argh-my-eyes {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #fff;
  }
  50% {
    background-color: #000;
  }
  99% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
